Package: com.captinc.darkmodetoggle
Name: DarkModeToggle
Version: 1.0
Depends: firmware (>=11.0), mobilesubstrate, preferenceloader, com.opa334.ccsupport
Author: Capt Inc <teamcaptinc@gmail.com>
Maintainer: Capt Inc <teamcaptinc@gmail.com>
Section: Tweaks
Architecture: iphoneos-arm
Description: Enable/disable specific tweaks when toggling dark mode
Depiction: https://captinc.github.io/depictions/darkmodetoggle/darkmodetoggle.html
