<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply these preferences to other tweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CallBar XS</string>
			<key>key</key>
			<string>callBarXS-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>CallBar XS</string>
			<key>key</key>
			<string>callBarXS-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Concept 13 Dark Glass</string>
				<string>Concept 13 Light Glass</string>
				<string>Concept 13 Solid Black</string>
				<string>Concept 13 Solid White</string>
				<string>Dark Glass</string>
				<string>Light Glass</string>
				<string>Solid Black</string>
				<string>Solid White</string>
				<string>Concept X (Curved)</string>
				<string>Concept X (Flat)</string>
				<string>Concept X (Curved,Zooming)</string>
				<string>Concept X (Flat,Zooming)</string>
			</array>
			<key>validValues</key>
			<array>
				<string>8</string>
				<string>9</string>
				<string>5</string>
				<string>4</string>
				<string>0</string>
				<string>1</string>
				<string>6</string>
				<string>7</string>
				<string>2</string>
				<string>3</string>
				<string>12</string>
				<string>13</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Complications</string>
			<key>key</key>
			<string>complications-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Complications</string>
			<key>key</key>
			<string>complications-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>None</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Grupi</string>
			<key>key</key>
			<string>grupi-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Grupi</string>
			<key>key</key>
			<string>grupi-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Mot</string>
			<key>key</key>
			<string>mot-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Mot</string>
			<key>key</key>
			<string>mot-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>PencilChargingIndicator</string>
			<key>key</key>
			<string>pencilChargingIndicator-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>PencilChargingIndicator</string>
			<key>key</key>
			<string>pencilChargingIndicator-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
				<string>Light Blurred</string>
				<string>Dark Blurred</string>
				<string>Automatic Solid</string>
				<string>Automatic Blurred</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Ringer13</string>
			<key>key</key>
			<string>ringer13-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Ringer13</string>
			<key>key</key>
			<string>ringer13-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Tacitus</string>
			<key>key</key>
			<string>tacitus-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Tacitus</string>
			<key>key</key>
			<string>tacitus-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Ultrasound</string>
			<key>key</key>
			<string>ultrasound-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Ultrasound</string>
			<key>key</key>
			<string>ultrasound-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>ABVolumeHUDThemeDark</string>
				<string>ABVolumeHUDThemeLight</string>
				<string>ABVolumeHUDThemeExtraLight</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>XIIIHUD-Mute</string>
			<key>key</key>
			<string>XIIIHUDMute-enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>XIIIHUD-Mute</string>
			<key>key</key>
			<string>XIIIHUDMute-value</string>
			<key>defaults</key>
			<string>com.captinc.darkmodetoggle</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Apply these preferences to other tweaks</string>
</dict>
</plist>
